footer{
    margin-top: 5%;
}
header{
  background-color: #935DCD ;
}
body{
  background-color: #EEECFA;
}

#search-result{
  display: none;
}

#search-result>p:hover{
  cursor: pointer;
}

#post{
  background-color:white;/* #3720BB */
}

#titre{
  background-color:whitesmoke;/* #C553C9 */
}

#error{
	background-color: rgb(255, 232, 232);
	border: 3px solid red;
	color: red;
}

#logo{
  width: 40px;
}

.PostRange {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Nearly full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;  
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 10px;
}

.PostRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #121DFF; /* Color of the button that slides*/
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}
