footer{
    margin-top: 5%;
}

#search-result{
  display: none;
}

#search-result>p:hover{
  cursor: pointer;
}

.PostRange {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Nearly full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;  
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 10px;
}

.PostRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8A2BE2; /* Color of the button that slides*/
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}
